opentelemetry-launcher
# git+git://github.com/lightstep/otel-launcher-python@issue_71#egg=opentelemetry-launcher
protobuf==3.13.0
pyyaml
pytest
requests
retry
opentelemetry-instrumentation-requests==0.17b0
