protobuf==3.13.0
flask
pymongo
redis
requests
sqlalchemy
opentelemetry-launcher==0.17b0
opentelemetry-opentracing-shim==0.17b0
opentelemetry-instrumentation-requests==0.17b0
opentelemetry-instrumentation-flask==0.17b0
