version: '3.9'
services:
    webserver:
        container_name: webserver
        image: nginx
        ports:
            - '8080:80'
        networks:
            - integrations
        stop_grace_period: 1s
    otel-collector:
        container_name: otel-collector
        image: otel/opentelemetry-collector-contrib:0.63.1
        command: ["--config=/conf/collector.yml"]
        environment:
            LS_ACCESS_TOKEN: ${LS_ACCESS_TOKEN}
        networks:
            - integrations
        volumes:
            - ./collector.yml:/conf/collector.yml:r
networks:
    integrations:
