attrs==20.3.0
backoff==1.10.0
googleapis-common-protos==1.52.0
grpcio==1.33.2
iniconfig==1.1.1
opentelemetry-api==0.16b1
opentelemetry-exporter-otlp==0.16b1
opentelemetry-proto==0.16b1
opentelemetry-sdk==0.16b1
packaging==20.4
pluggy==0.13.1
protobuf==3.14.0
py==1.9.0
pyparsing==2.4.7
pytest==6.1.2
six==1.15.0
toml==0.10.2
requests
ipdb
